.form-group label {
    margin-bottom:2px;
}
.form-group input, .form-group select {
    margin-bottom: 8px;
}

.checkbox-group.scrollable {
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background-color: #f9f9f9;
}

.checkbox-item {
    display: block;
    margin-bottom: 5px;
}

.no-employees {
    font-style: italic;
    color: #777;
}
