@using GestionPersonnel.Models.Fonctions
@using GestionPersonnel.Services
@inject IFonctionService FonctionService

@if (IsVisibleUpdateFunction)
{
    <div class="modal" tabindex="-1" style="display: block;">
    <div class="modal-dialog w-100">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modifier la Fonction</h5>
             </div>
            <div class="modal-body">
        
        <div class="form-group">
                    <label for="fonctionSelect">Selectionner la fonction</label>
            <select id="fonctionSelect" class="form-control" @bind="selectedFonctionId">
                        <option value="">-- Selectionner la fonction --</option>
                @foreach (var fonction in fonctions)
                {
                    <option value="@fonction.FonctionID">@fonction.NomFonction</option>
                }
            </select>
        </div>

       
        <div class="form-group">
                    <label for="newFonctionName">Nom De Fonction Nouvelle</label>
            <input type="text" class="form-control" id="newFonctionName" @bind="newFonctionName" />
        </div>


                <div class="modal-footer">
                    <button class="btn-c" @onclick="Cancel">Annuler</button>
            <button class="btn-p" @onclick="SaveFonction" disabled="@(string.IsNullOrEmpty(newFonctionName) || selectedFonctionId == 0)">Sauvegarder</button>
            
      

                
                        @if (selectedFonctionId > 0)
                        {
                            <div>
                            <label>Etes-vous sûr de vouloir supprimer cette fonction?</label>
                            </div>
                            <div>
                            <button class="btn-d" @onclick="DeleteFonction">Supprimer</button>
                            </div>
                        }
                </div>
    </div>
        </div>
    </div>
</div>

}
