<div class="top-row ps-3 navbar navbar-dark">
	<div class="container-fluid">
		<a class="navbar-brand" href="">FABELEC</a>
	</div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
	<nav class="flex-column">

		<div class="nav-item px-3">
			<NavLink class="nav-link" href="" Match="NavLinkMatch.All">
				<span class="bi bi-house-door-fill" aria-hidden="true"></span> Dashboard
			</NavLink>
		</div>

		<div class="nav-item px-3">
			<NavLink class="nav-link" href="Employe">
				<span class="bi bi-people-fill" aria-hidden="true"></span> Employe
			</NavLink>
		</div>

		<div class="nav-item px-3">
			<NavLink class="nav-link" href="Equipe">
				<span class="bi bi-people" aria-hidden="true"></span> Equipe
			</NavLink>
		</div>

		<div class="nav-item px-3">
			<NavLink class="nav-link" href="Pointage">
				<span class="bi bi-calendar-check" aria-hidden="true"></span> Pointage
			</NavLink>
		</div>

		<div class="nav-item px-3">
			<NavLink class="nav-link" href="paiement">
				<span class="bi bi-cash" aria-hidden="true"></span> paiement
			</NavLink>
		</div>

		<div class="nav-item px-3">
			<NavLink class="nav-link" href="Dette">
				<span class="bi bi-currency-exchange" aria-hidden="true"></span> Dette
			</NavLink>
		</div>

		<div class="nav-item px-3">
			<NavLink class="nav-link" href="Disconnect">
				<span class="bi bi-box-arrow-right" aria-hidden="true"></span> Disconnect
			</NavLink>
		</div>


	</nav>
</div>