<div class="top-row ps-3 navbar navbar-dark">
	<div class="container-fluid">
		<a class="navbar-brand" href="">FABELEC</a>
	</div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
	<nav class="flex-column">

		<div class="nav-item px-3">
			<NavLink class="nav-link gap-2" style="font-weight:bold;" href="" Match="NavLinkMatch.All">
				<span class="fa-solid fa-house" style="font-size:22px;" aria-hidden="true"></span> Dashboard
			</NavLink>
		</div>
		
		<div class="nav-item px-3">
			<NavLink class="nav-link gap-2" style="font-weight:bold;" href="Employe">
				<span class="fa-solid fa-user" style="font-size:22px" aria-hidden="true"></span> Employe
			</NavLink>
		</div>

		<div class="nav-item px-3">
			<NavLink class="nav-link gap-2" style="font-weight:bold;" href="Equipe">
				<span class="fa-solid fa-users" style="font-size:22px" aria-hidden="true"></span> Equipe
			</NavLink>
		</div>
	
		<div class="nav-item px-3">
			<NavLink class="nav-link gap-2" style="font-weight:bold;" href="Pointage">
				<span class="fa-solid fa-clipboard-list" style="font-size:22px" aria-hidden="true"></span> Pointage
			</NavLink>
		</div>
	
		<div class="nav-item px-3">
			<NavLink class="nav-link gap-2" style="font-weight:bold;" href="paiement">
				<span class="fa-solid fa-money-check-dollar" style="font-size:22px" aria-hidden="true"></span> paiement
			</NavLink>
		</div>

		<div class="nav-item px-3">
			<NavLink class="nav-link gap-2" style="font-weight:bold;" href="Dette">
				<span class="fa-solid fa-hand-holding-dollar" style="font-size:22px" aria-hidden="true"></span> Dette
			</NavLink>
		</div>

	
	

	</nav>
</div>